.slide-pane {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-width: 100px;
    height: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    will-change: transform;
}

.slide-pane:focus {
    outline-style: none;
}

.slide-pane_from_right {
    margin-left: auto;
    transform: translateX(100%);
}

.slide-pane_from_right.ReactModal__Content--after-open {
    transform: translateX(0%);
}

.slide-pane_from_right.ReactModal__Content--before-close {
    transform: translateX(100%);
}

.slide-pane_from_left {
    margin-right: auto;
    transform: translateX(-100%);
}

.slide-pane_from_left.ReactModal__Content--after-open {
    transform: translateX(0%);
}

.slide-pane_from_left.ReactModal__Content--before-close {
    transform: translateX(-100%);
}

.slide-pane__overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.slide-pane__overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s;
}

.slide-pane__overlay.ReactModal__Overlay--before-close {
    background-color: rgba(0, 0, 0, 0);
}

.slide-pane__header {
    display: flex;
    flex: 0 0 64px;
    align-items: center;
    background: #ffffff;
    height: 64px;
    border-bottom: 1px solid #efeff1;
    width: 100%;
    justify-content: space-between;
}

.slide-pane__title-wrapper {
    float: left;
    margin-left: 32px;
    min-width: 0;
}

.slide-pane .slide-pane__title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: #323232;
}

.slide-pane__close {
    width: 45px;
    height: 45px;
    transform: rotate(45deg);
    opacity: 0.4;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: #545558;
    float: right;
}

.slide-pane__close:hover {
    cursor: pointer;
}

.slide-pane__content {
    position: relative;
    padding: 24px 31px;
    flex: 1 1 auto;
    overflow: scroll;
}

.slide-pane__subtitle {
    font-size: 12px;
    margin-top: 2px;
}